/* NavBar.css */
nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: #001219;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 101;
}
nav h1 {
  color: #fff;
  margin-left: 40px;
}
nav a {
  text-decoration: none;
}
nav span {
  /* color: #ee9b00; */
  cursor: pointer;
  margin-left: 2.5rem;
  font-size: 0.85rem;
  text-transform: uppercase;
}
nav span:hover {
  color: #fff;
  border-bottom: 2px solid #ee9b00;
  padding-bottom: 5px;
}
span #HomeLight,
#MoviesLight,
#TrendingLight,
#PricingLight {
  color: #fff;
}
span #HomeLight:hover,
#MoviesLight:hover,
#TrendingLight:hover,
#PricingLight:hover {
  border-bottom: 2px solid #ff206e;
}
#navBarColor {
  background-color: #38bdab;
  transition: 0.6s;
}
.nav-options {
  display: flex;
  align-items: center;
}
#heading {
  color: #ff206e;
}
#navBarColor span:hover {
  border-bottom: 2px solid #ff206e;
  padding-bottom: 5px;
}
.input-group {
  display: flex;
  align-items: center;
}
#Color-switcher {
  position: relative;
  margin-right: 40px;
  background-color: #413e44;
  width: 70px;
  height: 30px;
  border-radius: 20px;
}
#Color-switcher-mover {
  position: absolute;
  left: 5px;
  top: 3px;
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: 0.6s;
}
#Color-switcher-moved {
  position: absolute;
  background-color: #fff;
  left: 40px;
  top: 3px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: 0.6s;
}
.input-group input {
  position: relative;
  width: 323px;
  height: 4vh;
  border-radius: 16px;
  border: none;
  margin-right: 30px;
}
.input-group input[type="text"] {
  padding-left: 17px;
  font-size: 1rem;
  color: black;
}
.input-group input::placeholder {
  color: black;
}
.input-group input:focus {
  outline: none;
}
#search {
  position: absolute;
  margin-left: 310px;
}

/* ####################################################################### */

@media screen and (max-width: 767px) {
  /* Media query for screens 767px and below */

  nav {
    display: block;
    flex-direction: column;
    align-items: center;
    padding: 0px 0.7rem; /* Add some spacing for readability */
    position: sticky;
    top: 0;
  }

  nav h1 {
    margin: 20px 5px 20px 30px;
    font-size: 0.9rem;
  }

  nav span {
    margin: 0.5rem;
    font-size: 0.7rem;
  }

  .nav-options {
    flex-direction: row;
    flex: 1 1 6rem;
    justify-content: center;
  }

  .nav-options.active {
    display: flex; /* Show the navigation options when active */
  }

  #Color-switcher {
    position: relative;
    margin-right: 40px;
    background-color: #413e44;
    width: 60px;
    height: 20px;
    border-radius: 20px;
  }
  #Color-switcher-mover {
    position: absolute;
    left: 2px;
    top: 1.5px;
    background-color: #fff;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    transition: 0.6s;
  }
  #Color-switcher-moved {
    position: absolute;
    background-color: #fff;
    left: 40px;
    top: 1.5px;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    transition: 0.6s;
  }

  .input-group {
    flex-direction: row;
    align-items: center;
    padding-bottom: 1rem;
  }

  .input-group input {
    width: 60%;
    height: 1rem;
    margin-left: 2rem;
    font-size: 12px;
  }

  .custom-placeholder::placeholder {
    font-size: 12px;
    font-weight: lighter;
    color: black;
    padding-left: 1rem;
  }

  input[type="text"].custom-placeholder {
    font-size: 12px; /* to Change input font size when Search for something */
    font-weight: lighter;
    color: black;
    padding-left: 2rem;
  }

  #search {
    /* position: static; */
    margin: 0px 0px 0px 2.2rem;
    font-size: 1.2rem;
  }
}
