/* Videos.css  */
body {
  overflow-x: hidden;
}
.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mainBgColor {
  background-color: #0c1e25;
  width: 100%;
}
.secondaryBgColor {
  background-color: #fff;
  width: 100%;
}
.movies-container img {
  width: 350px;
  height: 550px;
  margin: 25px 0px 4px 15px;
  border-radius: 18px;
}
.mainColor {
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 1rem;
}
#Nothing {
  display: none;
}
.secondaryColor {
  color: #ff206e;
  width: 90%;
  display: flex;
  justify-content: center;
  font-size: 1rem;
}
.movies-container h3,
.movies-container img {
  cursor: pointer;
  transition: 0.7s;
}
.movies-container img:hover {
  transform: scale(1.05);
}
#container {
  position: relative;
}
#hide {
  display: none;
}
#smaller-Text {
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: center;
}
#playIcon {
  position: absolute;
  bottom: 70px;
  left: 20px;
  visibility: visible;
  z-index: 100;
  cursor: pointer;
}
#Exit1 {
  position: absolute;
  margin-left: 800px;
  margin-top: 67px;
  z-index: 999;
  font-size: 35px;
}
#Nothing {
  color: green;
}
#NoContainer {
  opacity: 0.35;
}
.DarkTheme {
  color: #fff;
}
.LightThemeClose {
  color: #ff206e;
}

/* Mobile-responsive styles ############################################################# */

@media (max-width: 768px) {
  .mainColor,
  .secondaryColor {
    font-size: 0.9rem; /* Reduce font size for smaller screens */
  }

  .mainBgColor {
    background-color: #0c1e25;
    width: 100%;
  }

  .secondaryBgColor {
    background-color: #fff;
    width: 100%;
  }

  .movies-container img {
    /* Keep your existing styles for larger screens */
    width: 18rem;
    height: 31rem;
    margin: 25px 0px 4px 15px;
    border-radius: 18px;
  }

  .mainColor {
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 1rem;
  }

  #Nothing {
    display: none;
  }

  .secondaryColor {
    color: #ff206e;
    width: 90%;
    display: flex;
    justify-content: center;
    font-size: 1rem;
  }
  #Exit1 {
    position: absolute;
    margin-left: 69%;
    margin-top: 10%;
    z-index: 999;
    font-size: 25px;
  }
}
